//Fonts
$mainFont: 'Open Sans', sans-serif;

//Colors
$mainTextColor: #515150;
$backgroundColor: lighten(#b2b0b1, 15%);
//$linkColor: #337ab7; //blue
$linkColor: #058d99; //turquaise
$hoverColor: lighten(#058d99, 10%); //turquaise
$white: #fff;