//Fonts
$mainFont: 'Open Sans', sans-serif;

//Colors
$mainTextColor: #515150;
$backgroundColor: lighten(#b2b0b1, 15%);
$shadow: #222;

$lightGrey: #cccccc;
$lightestGrey: lighten($lightGrey, 8%);
$linkColor: #337ab7; //blue

$white: #fff;